{
    "extends": [ "wesbos/typescript" ],
    "rules": {
        "no-console": "off",
        "react/prop-types": 0,
        "react/button-has-type": "off",
        "arrow-body-style": 0,
        "no-use-before-define": [0],
        "linebreak-style": "off",
        "prettier/prettier": [
            "error",
            {
            "trailingComma": "all",
            "singleQuote": true,
            "printWidth": 70,
            "endOfLine": "auto",
            "tabWidth": 2
            }
        ]
    }
}