{
    "extends": [ "wesbos/typescript" ],
    "rules": {
        "no-console": 2,
        "react/prop-types": 0,
        "react/button-has-type": "off",
        "arrow-body-style": 0,
        "prettier/prettier": [
            "error",
            {
            "trailingComma": "es5",
            "singleQuote": true,
            "printWidth": 120,
            "endOfLine": "auto",
            "tabWidth": 2
            }
        ]
    }
}